project:
  type: website
  output-dir: /home/jasmine/PROJECTS/lyriguessr/docs

website:
  title: "lyriguessr"
  description: "Lyric-guessing games for your favorite artists"

  open-graph: 
    title: "lyriguessr"
    description: "Lyric-guessing games for your favorite artists"
  page-navigation: true

  announcement: 
    icon: info-circle
    dismissable: true
    content: "Interact with me at @lyriguessr on Twitter to request new artists!"
    type: info
    position: below-navbar

  page-footer: 
    left: "Copyright 2024, Jasmine Xu"
    background: "#8D9F8E"

  sidebar:
    background: "#8D9F8E"
    pinned: true
    align: center
    tools:
    - icon: github
      href: https://github.com/jasminex21/lyriguessr
    - icon: twitter 
      href: https://x.com/lyriguessr
    style: docked
    search: true
    contents:
      - href: index.qmd
        text: Home
      - href: coming_soon.qmd
        text: Coming Soon
      - href: about.qmd
        text: About
      - text: "---"
      - section: Artists
        href: index.qmd
        contents: artist_pages/*

format:
  html:
    theme: 
      light: [cosmo, theme.scss]
      dark: [cosmo, dark2.scss]
    css: styles.css 
    toc: true

editor:
  render-on-save: true

