/*-- scss:defaults --*/

// Base document colors
$body-bg: #E3E1D9;
$body-color: black;
$link-color: #5984DA;

// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family-sans-serif: 'Outfit', sans-serif;

// Navigation element colors
// $footer-bg: #181818;
// $navbar-bg: #303030;
// $sidebar-bg: #303030;

// Code blocks
// $code-block-bg-alpha: -.8;

// Bootstrap popovers
// $popover-bg: #242424;

// Bootstrap inputs
// $input-bg: #242424;


/*-- scss:rules --*/
